<div>
    <div class="modal-header">
        <h4 class="modal-title" ng-show="items.length">More Than One Address Found!</h4>
        <h4 class="modal-title" ng-show="!items.length">No Address Found For This Post Code!</h4>
    </div>
    <div class="modal-body" ng-show="items.length">
        <ul class="list-unstyled">
            <li ng-repeat="item in items">
                <input type="radio" name="address" id="{{$index+1}}" ng-click="selected.item = item"> {{item.formatted_address}}
            </li>
        </ul>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-show="items.length" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>